@import "../../scss/variable";

.konteynir {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.card {
  box-shadow: 5px 5px 5px 5px rgba($color: 0, $alpha: 1);
  max-width: 400px;
  border-radius: 5px;
}

h1 {
  color: $turuncu;
  background-color: rgb(66, 236, 236);
}
